body{
    background-color: #262626;
}

table, tr, td{
    border: 1px solid grey;
    position: relative;
}

tr, td{
    width: 30px;
    height: 30px;
}

div button{
    margin: 0;
    background: grey;
    position: relative;
    top: 30%;
    left: 80%;
    margin-right: -80%;
    display:inline-block;
}

.livecell{
    background-color: blue;
}

.deadcell{
    background-color: #262626;
}
span{
    margin: 0;
   position: absolute;
   top: 15%;
   left: 80%;
   margin-right: -80%;
   text-align: center;
}

.grid{
    margin: 0;
   position: absolute;
   top: 25%;
   left: 30%;
   margin-right: -30%;
   text-align: center;
}
/*.controls {
  margin-top: 10px;
  margin-left: 270px;
  width: 400px;
}*/
