body{
    background-color: #262626;
}

table, tr, td{
    border: 1px solid grey;
    border-collapse: collapse;
}

tr, td{
    width: 15px;
    height: 15px;
    background-color: #262626;
}

.alive{
    background-color: white;
    }

#world{
    margin: 0;
   position: absolute;
   top: 25%;
   left: 30%;
   margin-right: -30%;
   text-align: center;
}
